.image-container,
.feedback-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%; /* Use full width of the container */
    max-width: 800px; /* Increased maximum width of the container */
    margin: 20px auto; /* Center align the container horizontally with some margin */
    flex-wrap: wrap; /* Allows items to wrap as needed */
}

.stimuli-left-allergy,
.stimuli-right-allergy,
.stimuli-left-social,
.stimuli-right-social,
.stimuli-allergy,
.stimuli-social {
    width: 100%; /* Full width to adapt container size */
    height: auto; /* Maintain aspect ratio */
    max-width: 600px; /* Increased maximum width for stimuli images */
    margin: 10px; /* Increased margin for better spacing */
}

.feedback-container img {
    max-width: 600px; /* Significantly increased maximum width for feedback images */
    height: auto; /* Maintain aspect ratio */
    margin: 10px; /* Consistent spacing around images */
}

@media (max-width: 800px) {
    .stimuli-left-allergy,
    .stimuli-right-allergy,
    .stimuli-left-social,
    .stimuli-right-social,
    .stimuli-allergy,
    .stimuli-social {
        max-width: 50%; /* Adjust max-width for tighter spaces */
    }

    .feedback-container img {
        max-width: 50%; /* Larger but responsive for feedback images */
    }
}
